.edit-parent{
  width: 80%;
  margin-left:auto ;
}
.edit-profile-container {
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 75px;
}

.edit-profile-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  color: #333;
}

.edit-profile-form {
  display: flex;
  flex-direction: column;
  
}

.edit-profile-form div {
  margin-bottom: 15px;
}

.edit-profile-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.edit-profile-form input,
.edit-profile-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.edit-profile-form textarea {
  height: 100px;
  resize: none;
}

.edit-profile-form button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-profile-form button:hover {
  background-color: #0056b3;
}

.err {
  color: red;
  font-size: 14px;
}


@media (max-width: 868px) {
  .edit-parent{
    width: 100%;
    padding: 1rem;
  }
}
