.ride-bookings-container {
   width: 100%;

  }
  
  .ride-bookings-container h2 {
    text-align: center;
    position: relative;
    top: 100px;   
  }
  
  .no-bookings {
    text-align: center;
    font-size: 18px;
    color: #666;
  }
  
  .bookings-list {
    position: relative;
    top: 150px;
    width: 80%;
    margin-left: auto;
    list-style: none;
    padding: 0;
  }
  
  .booking-item {
    width: 80%;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    margin-inline: auto;
    /* background-color: pink; */
  }
  
  .booking-item:last-child {
    border-bottom: none;
  }
  
  .actions {
    margin-top: 10px;
  }
  
  .confirm-btn,
  .decline-btn {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .confirm-btn {
    background-color: #4caf50;
    color: white;
  }
  
  .decline-btn {
    background-color: #f44336;
    color: white;
  }
  
  .confirm-btn:hover {
    background-color: #45a049;
  }
  
  .decline-btn:hover {
    background-color: #e53935;
  }
  